@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #e4e4e7;
}

::-webkit-scrollbar-thumb {
  background: #a1a1aa;
  border-radius: 30px;
}

.dark ::-webkit-scrollbar-track {
  background: #3f3f46;
}

.dark ::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 30px;
}